<table border="0" cellpadding="0" cellspacing="0" width="560" style="width: 560px; min-width: 560px; font-family: Arial, sans-serif; color: #000000; border-collapse: collapse; margin: 0;">
  <tbody>
    <tr>
      <td style="padding-bottom: 25px; font-size: 15px; line-height: 1.6; color: #000000;">
        Beste <strong>{{voornaam}}</strong>,<br><br>
        Uw bericht is goed aangekomen.<br>
        U ontvangt binnen 24 uur een reactie van ons.<br>
        Afhankelijk van uw vraag bellen of mailen wij u terug.<br><br>
        Op <a href="https://aquaproved.be/blog" style="color: #33b2d2; text-decoration: none;">aquaproved.be/blog</a> vindt u praktische artikels over vochtproblemen en hun oorzaken.<br><br>
        Heeft u een dringende vraag?<br>
        Bel ons gerust op <a href="tel:+32486355702" style="color: #33b2d2; text-decoration: none;">+32 486 35 57 02</a>.<br>
        Wij zijn bereikbaar op werkdagen van 8u tot 17u.
      </td>
    </tr>

    <tr>
      <td style="padding-bottom: 30px;">
        <div style="background-color: #fafafa; border: 1px solid #eeeeee; border-radius: 6px; padding: 16px 20px; font-family: Arial, sans-serif; font-size: 14px; color: #555555; width: 520px;">
          <div style="margin: 0 0 8px 0;"><strong>Naam:</strong> {{volledige_naam}}</div>
          <div style="margin: 0 0 8px 0;"><strong>GSM-nummer:</strong> {{telefoon}}</div>
          <div style="margin: 0 0 8px 0;"><strong>E-mailadres:</strong> {{email}}</div>
          <div style="margin: 0 0 6px 0;"><strong>Bericht ({{datum}}):</strong></div>
          <div style="margin: 0; line-height: 1.4;">{{bericht_inhoud}}</div>
        </div>
      </td>
    </tr>

    <tr>
      <td style="padding-top: 25px; border-top: 1px solid #eeeeee;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
          <tr>
            <td align="left" valign="top" width="350" style="width: 350px;">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-bottom: 12px;">
                    <a href="https://www.aquaproved.be" style="text-decoration: none; color: #33b2d2; font-size: 17px; font-weight: bold;">AQUAPROVED&nbsp;BV</a><br>
                    <a href="https://www.aquaproved.be" style="text-decoration: none; color: #33b2d2; font-size: 13px;">www.aquaproved.be</a>
                  </td>
                </tr>
                <tr>
                  <td style="padding-bottom: 15px; font-size: 14px; color: #000000;">
                    <strong>Yannick De Wolf</strong><br>
                    <a href="tel:+32486355702" style="text-decoration: none; color: #33b2d2;">+32&nbsp;486&nbsp;355&nbsp;702</a><br>
                    <a href="mailto:yannick@aquaproved.be" style="text-decoration: none; color: #33b2d2;">yannick@aquaproved.be</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td><a href="https://www.youtube.com/@Aquaproved"><img src="https://raw.githubusercontent.com/AquaGit-tech/aquaproved-email-templates/main/signature_assets/YT.png" width="18" height="18" border="0"></a></td>
                        <td width="10"></td>
                        <td><a href="https://www.facebook.com/aquaproved/"><img src="https://raw.githubusercontent.com/AquaGit-tech/aquaproved-email-templates/main/signature_assets/FB.png" width="18" height="18" border="0"></a></td>
                        <td width="10"></td>
                        <td><a href="https://www.instagram.com/aquaproved/"><img src="https://raw.githubusercontent.com/AquaGit-tech/aquaproved-email-templates/main/signature_assets/IG.png" width="18" height="18" border="0"></a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td align="right" valign="top" width="210" style="width: 210px;">
              <img src="https://raw.githubusercontent.com/AquaGit-tech/aquaproved-email-templates/main/signature_assets/AQP_logo_signature_general_mode.png" width="140" border="0" style="display: block; margin-left: auto;">
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td style="padding-top: 25px;">
        <a href="https://www.google.com/search?q=reviews+voor+aquaproved"><img src="https://raw.githubusercontent.com/AquaGit-tech/aquaproved-email-templates/main/google_review_badge/google_review_badge_email_handtekening.png" width="130" border="0"></a>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 40px; font-size: 10px; color: #535554;">
        Contactgegevens<br>
        <a href="https://uqr.to/1wjli">
          <img src="https://raw.githubusercontent.com/AquaGit-tech/aquaproved-email-templates/main/signature_assets/aqp-vcard-yannick-de-wolf.png" width="88" border="0" style="margin-top: 5px;">
        </a>
      </td>
    </tr>
  </tbody>
</table>
