<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin:0; padding:0; background-color:#ffffff;">
<div style="max-width:600px; margin:0; padding:0; font-family:Arial, sans-serif; font-size:14px; line-height:1.5; color:#333;">

<p style="margin:0 0 16px 0;">Beste {{voornaam}},</p>

<p style="margin:0 0 8px 0;">Uw bericht is goed aangekomen.<br />
U ontvangt binnen 24 uur een reactie van ons.<br />
Afhankelijk van uw vraag bellen of mailen wij u terug.</p>

<p style="margin:0 0 16px 0;">Op <a href="https://aquaproved.be/blog" style="color:#33b2d2; text-decoration:none;">aquaproved.be/blog</a> vindt u praktische artikels over<br />vochtproblemen en hun oorzaken.</p>

<p style="margin:0 0 25px 0;">Heeft u een dringende vraag?<br />
Bel ons gerust op <a href="tel:+32486355702" style="color:#33b2d2; text-decoration:none; font-weight:bold;">+32 486 35 57 02</a>.<br />
Wij zijn bereikbaar op werkdagen van 8u tot 17u.</p>

<div style="background-color:#fafafa; border:1px solid #eeeeee; border-radius:6px; padding:20px; margin-bottom:30px;">
  <strong>Naam:</strong> {{volledige_naam}}<br />
  <strong>GSM-nummer:</strong> {{telefoon}}<br />
  <strong>E-mailadres:</strong> {{email}}<br /><br />
  <strong>Bericht ({{datum}}):</strong><br />
  {{bericht_inhoud}}
</div>

<table cellpadding="0" cellspacing="0" style="font-family: Arial, sans-serif; color:#000; line-height:1.3; border-collapse:collapse; width:560px;">
  <tbody>
    <tr>
      <td style="padding:0; font-size:14px;">Tot uw dienst,<br />Met vriendelijke groet,</td>
    </tr>
    <tr><td style="height:15px;">&nbsp;</td></tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" style="width:100%; border-collapse:collapse;">
          <tbody>
            <tr>
              <td style="vertical-align:top; width:340px;">
                <table cellpadding="0" cellspacing="0" style="font-family: Arial, sans-serif; border-collapse:collapse;">
                  <tr>
                    <td style="padding-bottom:12px;">
                      <a href="https://www.aquaproved.be" style="text-decoration:none; color:#33b2d2; font-size:17px; font-weight:bold;">AQUAPROVED&nbsp;BV</a><br />
                      <a href="https://www.aquaproved.be" style="text-decoration:none; color:#33b2d2; font-size:13px;">www.aquaproved.be</a>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:17px; font-size:14px; color:#000;">
                      {{sender_name}}<br />
                      <a href="mailto:{{sender_email}}" style="text-decoration:none; color:#33b2d2; font-size:13px;">{{sender_email}}</a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table cellpadding="0" cellspacing="0" style="border-collapse:collapse;">
                        <tr>
                          <td><a href="https://www.youtube.com/@Aquaproved"><img src="https://www.aquaproved.be/wp-content/uploads/2025/10/YT-e1760437655754.png" height="20" border="0" /></a></td>
                          <td width="11">&nbsp;</td>
                          <td><a href="https://www.facebook.com/aquaproved/"><img src="https://www.aquaproved.be/wp-content/uploads/2025/10/FB-e1760437630405.png" height="20" border="0" /></a></td>
                          <td width="11">&nbsp;</td>
                          <td><a href="https://www.instagram.com/aquaproved/"><img src="https://www.aquaproved.be/wp-content/uploads/2025/10/IG-e1760437682159.png" height="20" border="0" /></a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td style="vertical-align:top; text-align:right;">
                <table cellpadding="0" cellspacing="0" style="border-collapse:collapse; margin-left:auto;">
                  <tr>
                    <td width="30">&nbsp;</td>
                    <td><img src="https://www.aquaproved.be/wp-content/uploads/2025/10/AP_logo_signature_-General-mode.png" width="140" border="0" /></td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding-top:20px;">
        <a href="https://www.google.com/search?q=reviews+voor+aquaproved"><img src="https://www.aquaproved.be/wp-content/uploads/2025/10/Google-review-badge-e-mail-handtekening-106.png" width="144" border="0" /></a>
      </td>
    </tr>
    <tr>
      <td style="padding-top:40px; font-size:10px; color:#535554;">
        Contactgegevens<br />
        <a href="https://uqr.to/1wjkd"><img src="https://www.aquaproved.be/wp-content/uploads/2025/10/aqp-teamleader-signature.png" width="88" border="0" style="margin-top:5px;" /></a>
      </td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>
